<div class="aUyidf">
    <div class="container">
        <div class="col-md-4 offset-md-4">
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">แก้ไขข้อมูลส่วนตัว</h5>
                    <form  accept-charset="UTF-8"autocomplete="off">
                        <fieldset>
                            <div class="form-group">
                                <input class="form-control" placeholder="Username" formControlName="username"
                                    type="text" required />
                            </div>
                            

                            <div class="form-group">
                                <input class="form-control" placeholder="Password" formControlName="password"
                                    type="password" required />
                            </div>
                          

                            <div class="form-group">
                                <input class="form-control" placeholder="ชื่อผู้ใช้งาน" formControlName="user_name"
                                    type="text" required />
                            </div>
                          

                            <div class="form-group">
                                <input class="form-control" placeholder="นามสกุล" formControlName="user_lastname"
                                    type="text" required />
                            </div>
                          

                            <div class="form-group">
                                <input class="form-control" placeholder="ที่อยู่" formControlName="user_address"
                                    type="text" required />
                            </div>
                            
                            <div class="form-group">
                                <input class="form-control" placeholder="เบอร์โทร" formControlName="user_tel"
                                    type="text" required />
                            </div>
                           

                            <div class="form-group">
                                <input class="form-control" placeholder="เพศ" formControlName="gender"
                                    type="text" required name="gender" value="F" checked />
                            </div>
                          
                            

                            <button class="btn btn-lg btn-success btn-block" routerLink="/admin/profile">
                               ตกลง
                            </button>
                            <button class="btn btn-lg btn-danger btn-block" >
                                ยกเลิก
                            </button>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
