<div class="container">
    <div class="row">

        <div class="form-group">
            <input type="text" class="form-control" placeholder="ค้นหาข้อมูล" [(ngModel)]="term">
        </div>

        <table class="table table-hover bg-light">
            <thead class="alert alert-warning">
                <tr>
                    <th>ลำดับ</th>
                    <th scope="col">หมายเลขคำสั่งซืื้อ</th>
                    <th scope="col">ชื่อผู้ซื้อ</th>
                    <th scope="col">สถานะการชำระเงิน</th>
                    <th scope="col">หมายเลขพัสดุ</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of dataList | filter:term | paginate: { itemsPerPage: 5, currentPage: page };  let i = index">

                    <td>{{ i + 1 }}</td>
                    <td>
                        {{data.pm_no}}
                    </td>
                    <td>
                        {{data.id}}
                    </td>
                    <td>
                        {{data.pm_status}}
                    </td>
                    <td>
                        {{data.tracking_no}}
                    </td>
                    <td>
                        <button type="button" class="btn btn-outline-warning"
                            [routerLink]="['/admin/upparcel', data.pm_id]" routerLinkActive="router-link-active">
                            กรอกเลขพัสดุ
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        <div>
            <pagination-controls (pageChange)="page = $event"></pagination-controls>
        </div>
    </div>
</div>