<div class="container">
    <div class="row">
        <table class="table table-hover bg-light">
            <style>
                table,
                th,
                td {
                    border: 1px solid black;
                    border-collapse: collapse;
                }

                th,
                td {
                    padding: 12px;
                    text-align: center;
                }
            </style>
            <thead class="alert alert-warning">
                <tr>

                    <th scope="col">หมายเลขคำสั่งซืื้อ</th>
                    <th scope="col">ชื่อผู้ซื้อ</th>
                    <th scope="col">สถานะการชำระเงิน</th>
                    <th scope="col">หมายเลขพัสดุ</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of dataList">

                    <td>
                        {{data.pm_no}}
                    </td>
                    <td>
                        {{data.id}}
                    </td>
                    <td>
                        {{data.pm_status}}
                    </td>
                    <td>
                        {{data.tracking_no}}
                    </td>
                    <td>
                        <button type="button" class="btn btn-outline-warning"
                            [routerLink]="['/admin/upparcel', data.pm_id]" routerLinkActive="router-link-active">
                            กรอกเลขพัสดุ
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>