<div class="container">

    <div class="card ">
        <div class="card-body">
            <ul class="nav navbar-nav navbar-right">
                <div class="col-xl-5">
                    <div class="card" style="width: 18rem;" class="card-body text-center">
                        <img src="\assets\image\m.jpg" class="card-img-top">
                    </div>
                    <form >
                        <p>ชื่อร้าน</p>
                        <div class="form-group">
                            <input class="form-control" placeholder="" formControlName="username" type="text"
                                required />
                        </div>
                        <p>ชื่อสินค้า</p>
                        <div class="form-group">
                            <input class="form-control" placeholder="" formControlName="username" type="text"
                                required />
                        </div>
                        <p>ราคา</p>
                        <div class="form-group">
                            <input class="form-control" placeholder="" formControlName="username" type="text"
                                required />
                        </div>
                        <p>รายละเอียด</p>
                        <select class="custom-select" multiple>
                            <div class="form-group">
                                <input class="form-control" placeholder="" formControlName="username" type="text"
                                    required />
                            </div>
                        </select>
                    </form>
                    <p>
                        <button class="btn btn-lg btn-outline-success btn-block " routerLink="/user/homeshop">
                            ตกลง
                        </button>
                        <button class="btn btn-lg btn-outline-danger btn-block " routerLink="/user/homeshop">
                            ยกเลิก
                        </button>
                    </p>
                </div>
            </ul>
        </div>
    </div>
</div>
