<div class="container">
    <div class="row">

        <div class="form-group">
            <input type="text" class="form-control" placeholder="ค้นหาข้อมูล" [(ngModel)]="term">
        </div>

        <table class="table table-hover bg-light">
            <thead  class="alert alert-danger">               
                 <tr>
                     <th>ลำดับ</th>
                    <th scope="col">ชื่อร้าน</th>
                    <th scope="col">รูปร้าน</th>
                    <th scope="col">ที่อยู่ร้าน</th>
                    <th scope="col">เบอร์โทรร้าน</th>
                    <th scope="col">ชื่อบัญชี</th>
                    <th scope="col">เลขบัญชี</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let shop of shopList | filter:term | paginate: { itemsPerPage: 5, currentPage: page };  let i = index">
                    <td>{{ i + 1 }}</td>
                    <!-- <td>
                        {{data.shop_nameFull}}
                    </td> -->
                    <td>
                        {{shop.shop_name}}
                    </td>
                    <td>
                        {{shop.shop_img}}
                    </td>
                    <td>
                        {{shop.shop_address}}
                    </td>
                    <td>
                        {{shop.shop_tel}}
                    </td>
                    <td>
                        {{shop.bank_name}}
                    </td>
                    <td>
                        {{shop.bank_account_no}}
                    </td>
                    <td>

                        <button type="button" class="btn btn-outline-danger" (click)="deleteData(shop)">
                            ลบ
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        <div>
            <pagination-controls (pageChange)="page = $event"></pagination-controls>
        </div>
    </div>
</div>