<div class="container">
    <div class="row">
        <table class="table table-hover bg-light">
            <thead>
                <tr>
                   
                    <th scope="col">ชื่อร้าน</th>
                    <th scope="col">รูปร้าน</th>
                    <th scope="col">ที่อยู่ร้าน</th>
                    <th scope="col">เบอร์โทรร้าน</th>
                    <th scope="col">ชื่อบัญชี</th>
                    <th scope="col">เลขบัญชี</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let shop of shopList" >
                    <!-- <td>
                        {{data.shop_nameFull}}
                    </td> -->
                    <td>
                        {{shop.shop_name}}
                    </td>
                    <td>
                        {{shop.shop_img}}
                    </td>
                    <td>
                        {{shop.shop_address}}
                    </td>
                    <td>
                        {{shop.shop_tel}}
                    </td>
                    <td>
                        {{shop.bank_name}}
                    </td>
                    <td>
                        {{shop.bank_account_no}}
                    </td>
                    <td>

                        <button  type="button" class="btn btn-outline-danger" (click)="deleteData(shop)">
                       ลบ
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>