<!-- <p>
<nav class="navbar navbar-light bg-light" >
  <ul></ul>
  <form class="form-inline my-1 my-lg-0">
    <input class="form-control mr-sm-1" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-1 my-sm-0" type="submit">Search</button>
  </form>
</nav>
<ul></ul> -->

<ul></ul>

<div class="container">
  <div class="row">
    <div class="col-xl-4">
      <div class="card" style="width: 18rem;">
        <img src="\assets\image\m.jpg" class="card-img-top">
        <div class="card-body">
          <p class="card-text">ส้ม สดใหม่</p>
          <button class="btn btn-lg btn-primary btn-block "  >
            ดูสินค้า
        </button>

        </div>
      </div>
    </div>
    <div class="col-xl-4">
      <div class="card" style="width: 18rem;">
        <img src="\assets\image\m.jpg" class="card-img-top">
        <div class="card-body">
          <p class="card-text">ส้ม สดใหม่</p>
          <button class="btn btn-lg btn-primary btn-block "  >
            ดูสินค้า
        </button>

        </div>
      </div>
    </div>
    <div class="col-xl-4">
      <div class="card" style="width: 18rem;">
        <img src="\assets\image\m.jpg" class="card-img-top">
        <div class="card-body">
          <p class="card-text">ส้ม สดใหม่</p>
          <button class="btn btn-lg btn-primary btn-block " >
            ดูสินค้า
        </button>

        </div>
      </div>
    </div>
    <div class="col-xl-4">
      <div class="card" style="width: 18rem;">
        <img src="\assets\image\m.jpg" class="card-img-top">
        <div class="card-body">
          <p class="card-text">ส้ม สดใหม่</p>
          <button class="btn btn-lg btn-primary btn-block " >
            ดูสินค้า
        </button>

        </div>
      </div>
    </div>

    <div class="col-xl-4">
      <div class="card" style="width: 18rem;">
        <img src="\assets\image\m.jpg" class="card-img-top">
        <div class="card-body">
          <p class="card-text">ส้ม สดใหม่</p>
          <button class="btn btn-lg btn-primary btn-block " >
            ดูสินค้า
        </button>

        </div>
      </div>

    </div>
    <br>

  </div>
</div>