<!-- <p>
<nav class="navbar navbar-light bg-light" >
  <ul></ul>
  <form class="form-inline my-1 my-lg-0">
    <input class="form-control mr-sm-1" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-1 my-sm-0" type="submit">Search</button>
  </form>
</nav>
<ul></ul> -->

<ul></ul>

<div class="container">
  <div class="row">
    <div  class="col-xl-4">
      <div *ngFor="let data of dataCard" class="col-4">
        <div class="card" style="width: 18rem;">
            <img src={{data.img}} class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">{{ data.deteil }}</p>
            </div>
        </div>
        <button class="btn btn-outline-primary btn-block " type="button" routerLink="/home/doproduct">
          ดูสินค้า
        </button>
      </div>
     
    </div>
    <div  class="col-xl-4">
      <div *ngFor="let data of dataCard" class="col-4">
        <div class="card" style="width: 18rem;">
            <img src={{data.img}} class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">{{ data.deteil }}</p>
            </div>
        </div>
        <button class="btn btn-outline-primary btn-block " type="button" routerLink="/home/doproduct">
          ดูสินค้า
        </button>
      </div>
     
    </div>
  </div>
</div>

   