
<div class="container">
    <div class="row">
        <table class="table table-hover bg-light">
            <thead>
                <tr>

                    <th scope="col">ชื่อผู้ซื้อ</th>
                    <th scope="col">จำนวนเงิน</th>
                    <th scope="col">สลิป</th>
                    <th scope="col">รายละเอียด</th>
                    <th scope="col">สถานะ</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of paymentList"   [routerLink]="['/user/dopayment', data.pm_id]"
                routerLinkActive="router-link-active"  >
                   
                    <td>
                        {{data.id}}
                    </td>
                    <td>
                        {{data.pm_totalpric}}
                    </td>
                    <td>
                        {{data.pm_img}}
                    </td>
                    <td>
                        {{data.pm_date}}
                    </td>
                    <td>
                        {{data.pm_status}}
                    </td>
                   
                    
                   
                </tr>
            </tbody>
        </table>
    </div>
</div>