<div class="container">
    <div class="row">
        <table class="table table-hover bg-light">
            <thead class="alert alert-warning">
                <tr>
                    <th>ลำดับ</th>
                    <th scope="col">หมายเลขคำสั่งซืื้อ</th>
                    <th scope="col">ยอดเงินที่ชำระ</th>
                    <th scope="col">วันที่ทำการจ่ายเงิน</th>
                    <!-- <th scope="col">รหัสติดตามพัสดุ</th> -->
                    <th scope="col">สถานะการชำระเงิน</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of paymentList | paginate: { itemsPerPage: 5, currentPage: page };  let i = index">

                    <td scope="row">{{ i + 1 }}</td>
                    
                    <td>
                        {{data.pm_no}}
                    </td>
                    <td>
                        {{data.pm_totalpric}}
                    </td>
                    <td>
                        {{data.pm_date}}
                    </td>
                    <!-- <td>
                        {{data.tracking_no}}
                    </td> -->
                    <td>
                        {{data.pm_status}}
                    </td>
                    <td>
                        <button type="button" class="btn btn-outline-warning"
                            [routerLink]="['/user/editpayment', data.pm_id]" routerLinkActive="router-link-active">
                            ดูรายละเอียด
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        <div>
            <pagination-controls (pageChange)="page = $event"></pagination-controls>
        </div>
    </div>
</div>