<div class="container">
    <div class="col-md-10 offset-md-1">
        <div class="card col-md-9 offset-md-2 ">
            <div class="card-body">
                <div class="card-header">
                    <div class="card-header" class="text-center offset-md-2">
                        <div class="card" style="width: 18rem;" class="card-body text-center">
                            <h2>เพิ่มสินค้า</h2>
                        </div>
                    </div>
                    <form [formGroup]="statusForm" accept-charset="UTF-8" autocomplete="off">
                        <fieldset class="body-body-center">

                            <div class="form-row ">
                                <div class="form-group col-md-12">
                                    <label for="pd_img">เพิ่มรูปภาพ</label>
                                    <div class="custom-file mb-3">
                                        <input type="file" class="custom-file-input" id="pd_img"
                                            (change)="uploadImage($event)" required>
                                        <label class="custom-file-label"
                                            for="validatedCustomFile">{{fileNameShow}}</label>
                                        <div class="invalid-feedback">Example invalid custom file feedback</div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-row ">
                                <div class="form-group col-md-6">
                                    <label for="pd_name">ชื่อสินค้า</label>
                                    <input class="form-control" placeholder="" formControlName="pd_name" type="text"
                                        required>
                                </div>

                                <div class="row col-md-6">
                                    <ul><label for="type_id">ประเภทสินค้า</label>
                                        <select class="custom-select ">
                                            <option selected>ประเภทสินค้า</option>
                                            <option value="1">อาหาาร</option>
                                            <option value="2">เสื้อผ้า</option>
                                            <option value="3">เครื่องจักสาน</option>
                                            <option value="4">อื่นๆ</option>
                                        </select>
                                    </ul>
                                </div>
                            </div>

                            <div class="form-row ">
                                <div class="form-group col-md-12">
                                    <label for="shop_address">ที่อยู่ร้าน</label>
                                    <textarea class="form-control" placeholder="" formControlName="shop_address"
                                        type="text" rows="2" required></textarea>
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group col-md-4">
                                    <label for="shop_tel">เบอร์โทร</label>
                                    <input class="form-control" placeholder="" formControlName="shop_tel" type="text"
                                        required>
                                </div>

                                <div class="form-group col-md-4">
                                    <label for="pd_price">ราคา</label>
                                    <input class="form-control" placeholder="" formControlName="pd_price" type="text"
                                        required>
                                </div>

                                <div class="form-group  col-md-4">
                                    <label for="pd_number">จำนวน</label>
                                    <input class="form-control" placeholder="" formControlName="pd_number" type="number"
                                        min="0" required />
                                </div>
                            </div>

                            <div class="form-row ">
                                <div class="form-group col-md-12">
                                    <label for="pd_details">รายละเอียด</label>
                                    <textarea class="form-control" formControlName="pd_details" rows="3"></textarea>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col text-center ">
                                    <button class="btn btn-lg btn-outline-success " (click)="submitForm()">
                                        ตกลง
                                    </button>&nbsp;
                                    <button class="btn btn-lg btn-outline-danger " routerLink="/user/shopme">
                                        ยกเลิก
                                    </button>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>