<div class="container">
    <div class="row">
      <div *ngFor="let data of productList" class="col-xl-4">
        <div class="card" style="width: 15rem; ">
          <img src="{{API_URL_IMG + data.pd_img}}" class="card-img-top" alt="..." style="width: 15rem; height: 15rem;">
          <div class="card-body">
            <div class="card-body">
              <p class="card-text">ชื่อสินค้า {{data.pd_name}}</p>
              <p class="card-text">ราคา {{data.pd_price}}</p>
              <p class="card-text">จำนวนสินค้า {{data.pd_number}}</p>
              <ul>
                <button  type="button" class="btn btn-outline-info btn-block " (click)="onDoproduct(data)"> ดูสินค้า</button>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>