<div class="container">
  <div class="card text-center">
    <div class="card-header">
      <h2 class="float-none">สินค้าชุมชน</h2>
    </div><br>
    <div class="form-row col-md-2 ">
      <div class="form-group ">
        <input type="text" class="form-control" placeholder="ค้นหาข้อมูล" [(ngModel)]="term">
      </div>
    </div>
    <div class="card-body">
      <div class="row">
        <div
          *ngFor="let data of productList | filter:term | paginate: { itemsPerPage: 5, currentPage: page };  let i = index"
          class="col-xl-3">
          <div class="card" style="width: 15rem;">
            <img src="{{API_URL_IMG + data.pd_img}}" class="card-img-top " alt="{{data.pd_img}}">
            <div class="card-body">
              <h5 class="card-title">ชื่อสินค้า : {{data.pd_name}}</h5>
              <p class="card-text">ราคา : {{data.pd_price}} บาท</p>
              <p class="card-text">จำนวนสินค้า : {{data.pd_number}} ชิ้น</p>
            </div>
            <ul>
              <button type="button" class="btn btn-outline-info  "
                [routerLink]="['/user/doproduct', data.pd_id]" routerLinkActive="router-link-active">
                ดูสินค้า</button>
            </ul>
          </div><br>
        </div>
      </div>
    </div>
  </div>
</div>