<nav *ngIf="userType === 'home'" class="navbar navbar-expand-lg navbar-light bg-warning bottom-2">
  <a class="navbar-brand" routerLink="/home">HOME</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/home">หน้าหลัก<span class="sr-only">(current)</span></a>
      </li>
    </ul>
  </div>
  <ul class="nav navbar-nav navbar-right">
    <li class="nav-item active">
      <a class="nav-link" routerLink="/home/register">สมัครสมาชิก<span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item active">
      <a class="nav-link" routerLink="/home/login">เข้าสู่ระบบ<span class="sr-only">(current)</span></a>
    </li>
  </ul>
</nav>


<nav *ngIf="userType === 'admin'" class="navbar navbar-expand-lg navbar-light bg-warning bottom-2">
  <a class="navbar-brand" routerLink="/admin">ADMIN</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/admin">หน้าหลัก<span class="sr-only">(current)</span></a>
      </li>
      <div class="d-flex">
        <div class="btn-group">
          
          <a  class="btn btn-warning"  >จัดการข้อมูล</a>
        <button type="button" class="btn btn-warning dropdown-toggle dropdown-toggle-split" id="dropdownMenuReference" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-reference="parent">
          <span class="sr-only">Toggle Dropdown</span>
        </button>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="/admin/product">ข้อมูลสินค้า</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" routerLink="/admin/shop">ข้อมูลร้านค้า</a>
        </div>
      </div>
    </div>
    </ul>
  </div>
  <ul class="nav navbar-nav navbar-right">
    <div class="d-flex">
    <div class="btn-group">
      <button type="button" class="btn btn-warning"  routerLink="/admin/profile">{{userName}}</button>
      <button type="button" class="btn btn-warning dropdown-toggle dropdown-toggle-split" id="dropdownMenuReference" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-reference="parent">
        <span class="sr-only">Toggle Dropdown</span>
      </button>
      
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" routerLink="/admin/payment">ชำระเงิน</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" routerLink="/admin/parcel">แจ้งเลขพัสดุ</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" routerLink="/admin/report">รายงาน</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" (click)="logout()">Logout</a>
      </div>
    </div>
    </div>
  </ul>
</nav>

<nav *ngIf="userType === 'user'" class="navbar navbar-expand-lg navbar-light bg-warning  bottom-2">
  <a class="navbar-brand" routerLink="/user">USER</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/user/home">หน้าหลัก<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/user/buildshop">สร้างร้าน<span class="sr-only">(current)</span></a>
      </li>
     
    </ul>
  </div>
  <ul class="nav navbar-nav navbar-right">
    <div class="d-flex">
    <div class="btn-group">
      <button type="button" class="btn btn-warning"  routerLink="/user/profile"  > {{userName}}  </button>
      <button type="button" class="btn btn-warning dropdown-toggle dropdown-toggle-split" id="dropdownMenuReference" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-reference="parent">
        <span class="sr-only">Toggle Dropdown</span>
      </button>
      
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" routerLink="/user/shopme">ร้านฉัน</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" routerLink="/user/payment">ชำระเงิน</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" routerLink="/user/order">รายการออเดอร์</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" routerLink="/user/report">รายงาน</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" (click)="logout()">Logout</a>
      </div>
    
    </div>
    </div>
  </ul>
</nav>
<div class="bottom-2">
  <router-outlet></router-outlet>
</div>
