<div class="container">
    <div class="card ">
        <div class="card-body">
            <div class="card" style="width: 18rem;" class="card-body text-center">
                <h2>ร้านฉัน</h2>
            </div>

            <button class="btn btn-lg btn-info " routerLink="/user/status">
                โพสต์สินค้า
            </button>

            <p></p>
            <div class="container">
                <div class="row">
                    <div *ngFor="let data of productList" class="col-xl-4">
                        <div class="card" style="width: 15rem; ">
                            <img src="{{API_URL_IMG + data.pd_img}}" class="card-img-top" alt="..."
                                style="width: 15rem; height: 15rem;">
                            <div class="card-body">
                                <div class="card-body">
                                    <p class="card-text">ชื่อสินค้า {{data.pd_name}}</p>
                                    <p class="card-text">ราคา {{data.pd_price}}</p>
                                    <p class="card-text">จำนวนสินค้า {{data.pd_number}}</p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>