
.float{
	z-index: 1;
	position:fixed;
	width:80px;
	height:80px;
	bottom:60px;
	margin-bottom: 11em;
	right:39px;
	background-color:#28a745;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
}

.my-float{
	margin-top:22px;
}

.doshop{
	z-index: 2;
	position:fixed;
	width:80px;
	height:80px;
	bottom:60px;
	margin-bottom: 5.5em;
	right:39px;
	background-color:#41bccc;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
}

.my-doshop{
	margin-top:22px;
}

.editshop{
	z-index: 3;
	position:fixed;
	width:80px;
	height:80px;
	bottom:60px;
	margin-bottom: 0em;
	right:35px;
	background-color:#e56f21;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
}

.my-editshop{
	margin-top:22px;
}

.homeshop{
	z-index: 3;
	position:fixed;
	width:80px;
	height:80px;
	bottom:60px;
	margin-bottom: 16.6em;
	right:35px;
	background-color:#f10b1aa6;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
}

.my-homeshop{
	margin-top:22px;
}