<div class="container">
   
    <a href="#" class="float " routerLink="/user/status">
       <p class="my-float">เพิ่มสินค้า</p> 
    </a>

    <a href="#" class="doshop " routerLink="/user/doshop" >
        <p class="my-doshop">ข้อมูลร้าน</p> 
     </a>

     <a href="#" class="editshop " routerLink="/user/editshop">
        <p class="my-editshop">แก้ไขข้อมูลร้าน</p> 
     </a>

     <a href="#" class="homeshop " routerLink="/user/homeshop">
        <p class="my-float">จัดการสินค้า</p> 
     </a>
    <div class="card text-center">
        <div class="card-header">
            <h2 class="float-none">ร้านฉัน</h2>
        </div>
        <div class="card-body">
            <div class="container">
                <div class="row">
                    <div *ngFor="let data of productList" class="col-xl-4">
                        <div class="card" style="width: 15rem;">
                            <img src="{{API_URL_IMG + data.pd_img}}" class="card-img-top" alt="{{data.pd_img}}">
                            <div class="card-body">
                                <h5 class="card-title">ชื่อสินค้า : {{data.pd_name}}</h5>
                                <p class="card-text">ราคา : {{data.pd_price}} บาท</p>
                                <p class="card-text">จำนวนสินค้า : {{data.pd_number}} ชิ้น</p>
                            </div>
                        </div><br>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer text-muted">
           ใส่อะไรก็ได้
        </div>
    </div>

</div>