<div class="container">
    <div class="card ">
        <div class="card-body">
            <div class="card" style="width: 18rem;" class="card-body text-center">
                <h2>ร้านฉัน</h2>
            </div>

            <button class="btn btn-lg btn-info " routerLink="/user/status">
                โพสต์สินค้า
            </button>

            <p></p>
            <div class="container">
                <div class="row">
                    <div class="col-xl-4">
                        <div class="card" style="width: 18rem;">
                            <img src="\assets\image\m.jpg" class="card-img-top">
                            <div class="card-body">
                                <p class="card-text">ส้ม สดใหม่</p>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>