<div class="container">

    <div class="card ">
        <div class="card-body">
            <ul class="nav navbar-nav navbar-right">
                <div class="col-xl-5">

                    <div class="card" style="width: 18rem;" class="card-body text-center">
                        <h2>แจ้งเลขพัสดุ</h2>
                    </div>

                    <form>
                        <p>ชื่อ-สกุล</p>
                        <div class="form-group">
                            <input class="form-control" placeholder="" formControlName="first_name" type="text"
                                required />
                        </div>
                        <p>กรอกเลขพัสดุ</p>
                        <div class="form-group">
                            <input class="form-control" placeholder="" formControlName="tracking_no" type="text">
                        </div>


                        <button class="btn btn-lg btn-success btn-block" routerLink="/user/doparcel">
                            ตกลง
                        </button>
                        <button class="btn btn-lg btn-danger btn-block" routerLink="/user/home">
                            ยกเลิก
                        </button>
                    </form>
                </div>
            </ul>
        </div>
    </div>
</div>