<div class="container">
    <div class="row">
        <table class="table table-hover bg-light">
            <thead class="alert alert-warning">
                <tr>
                    <th>ลำดับ</th>
                    <th scope="col">หมายเลขออเดอร์</th>
                    <th scope="col">รหัสสินค้า</th>
                    <th scope="col">จำนวนสินค้า</th>
                    <th scope="col">วันที่สั่งซื้อ</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of orderList | paginate: { itemsPerPage: 5, currentPage: page };  let i = index">
                    
                    <td scope="row">{{ i + 1 }}</td>

                    <td>
                        {{data.order_id}}
                    </td>
                    
                    <td>
                        {{data.pd_id}}
                    </td>
                    <td>
                        {{data.order_number}}
                    </td>
                    <td>
                        {{data.order_date}}
                    </td>
                
                    <td>
                        <button type="button" class="btn btn-outline-warning"
                            [routerLink]="['/user/doorder', data.order_id]" routerLinkActive="router-link-active">
                            ดูรายละเอียด
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        <div>
            <pagination-controls (pageChange)="page = $event"></pagination-controls>
        </div>
    </div>
</div>