<div class="container">
    <div class="col-md-10 offset-md-1">
        <div class="card col-md-9 offset-md-2"><br>
            <div class="card-header">
                <h2 class="float-none" class="text-center">รายละเอียดออเดอร์</h2>
            </div><br>
            <ul class="nav navbar-nav navbar-right">
                <form [formGroup]="doorderForm" accept-charset="UTF-8" autocomplete="off">
                    <!-- <fieldset> -->

                    <div class="form-row">

                        <div class="form-group col-md-5">
                            <label>ชื่อผู้ซื้อ</label>
                            <input class="form-control" placeholder="" formControlName="id" type="text"
                                    min="0" disabled="disabled" required />
                            <!-- <input class="form-control" placeholder="" formControlName="id" type="text"
                                required></input> -->
                        </div>

                        <div class="form-group col-md-3">
                            <label>หมายเลขออเดอร์</label>
                            <input class="form-control" placeholder="" formControlName="order_id" type="text"
                                    min="0" disabled="disabled" required />
                            <!-- <label class="form-control" placeholder="" formControlName="order_id" type="text"
                                required></label> -->
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-3">
                            <label>หมายเลขรหัสสินค้า</label>
                            <input class="form-control" placeholder="" formControlName="pd_id" type="text"
                                    min="0" disabled="disabled" required />
                            <!-- <label class="form-control" placeholder="" formControlName="pd_id" type="number" min="0"
                                required></label> -->
                        </div>
                        <div class="form-group col-md-2">
                            <label>จำนวนสินค้า</label>
                            <input class="form-control" placeholder="" formControlName="order_number" type="text"
                                    min="0" disabled="disabled" required />
                            <!-- <label class="form-control" formControlName="order_number"></label> -->
                        </div>
                    </div>
                    <div class="form-group col-md-5">
                        <label>วันที่สั่งซื้อ</label>
                        <input class="form-control" placeholder="" formControlName="order_date" type="text"
                                min="0" disabled="disabled" required />
                        <!-- <label class="form-control" placeholder="" formControlName="order_date" type="text"
                            required></label> -->
                    </div>
                    <div class="row">
                        <div class="col text-center">
                            <!-- <button class="btn btn-lg btn-outline-success" (click)="submitForm()">
                                    ตกลง
                                </button> &nbsp; -->
                            <button class="btn btn-lg btn-outline-danger" routerLink="/user/order">
                                ยกเลิก
                            </button>
                        </div>
                    </div>
                    <!-- </fieldset> -->
                </form>
            </ul>

        </div>
    </div>
</div>