<div class="container">
    <!-- <div class="card" style="width: 18rem;" class="card-body text-center">
        <h2 >ร้านฉัน</h2>
     </div> -->
    <div class="row">
        <div *ngFor="let data of shopList"  class="col-xl-4">
            <div class="card" style="width: 18rem;">
                <img src="\assets\image\m.jpg" class="card-img-top">
                <div class="card-body">
                    <p class="card-text">{{data.pd_name}}</p>
                    <p class="card-text">{{data.pd_price}}</p>
                    <p class="card-text">{{data.pd_number}}</p>
                    <ul>
                        <button type="button" class="btn btn-outline-success" (click)="onEdit(data)">แก้ไข</button>
                        <button type="button" class="btn btn-outline-danger"> ลบ </button>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</div>