<div class="container">
    <div class="row">
        <div class="col-md-10 offset-md-1">
            <div class="card col-md-9 offset-md-2">
                <div class="card-body">
                    <div class="card-body" class="card-header">
                        <h3 class="text-center">กรอกเลขพัสดุ</h3><br>
                    </div>
                </div>
                <form [formGroup]="addtrackingForm" accept-charset="UTF-8" autocomplete="off">
                    <fieldset>

                        <div class="form-group col-md-3" class="text text-center">
                            <input class="form-control" placeholder="" formControlName="tracking_no" type="text"
                                required />
                        </div>
                        <br>
                        <div class="row">
                            <div class="col text-center">
                                <button class="btn btn-lg btn-outline-success" (click)="submitForm()">
                                    ตกลง
                                </button> &nbsp;
                                <button class="btn btn-lg btn-outline-danger" routerLink="/user/tracking">
                                    ยกเลิก
                                </button>
                            </div>
                        </div>
                    </fieldset>
                </form>
                <br>
            </div>
        </div>
    </div>
</div>