<div class="container">
  <div class="col-md-10 offset-md-1">
    <div class="card col-md-9 offset-md-2">
      <div class="card-body">
        <div class="card-header">
          <h2 class="text-center">สร้างร้าน</h2><br>
        </div><br>
        <div class="alert alert-danger" role="alert">
          *หมายเหตุ หากทำการสร้างร้านทางระบบจะทำการหัก <a href="#" class="alert-link">5%</a> ทุกสิ้นเดือน
        </div>

        <form [formGroup]="buildshopForm" accept-charset="UTF-8" autocomplete="off" class="col-md-9 offset-md-1">

          <fieldset>

            <div class="form-group">
              <label for="shop_img">เพิ่มรูปภาพ</label>
              <div class="custom-file mb-3">
                <input type="file" class="custom-file-input" id="shop_img" (change)="uploadImage($event)" required>
                <label class="custom-file-label" for="validatedCustomFile">{{fileNameShow}}</label>
                <div class="invalid-feedback">Example invalid custom file feedback</div>
              </div>
            </div>

            <!-- <input type="text" id="" class="form-control" placeholder=""> -->

            <div class="form-group">
              <label for="shop_name">ชื่อร้าน</label>
              <input class="form-control" placeholder="" formControlName="shop_name" type="text" required>
            </div>

            <label for="shop_address">ที่อยู่ร้าน</label>
            <div class="form-group">
              <input class="form-control" placeholder="" formControlName="shop_address" type="text" required>
            </div>

            <label for="shop_tel">เบอร์โทร</label>
            <div class="form-group">
              <input class="form-control" placeholder="" formControlName="shop_tel" type="text" required>
            </div>

            <label for="bank_name">ชื่อธนาคาร</label>
            <div class="form-group">
              <input class="form-control" placeholder="" formControlName="bank_name" type="text" required>
            </div>

            <label for="bank_account_no">บัญชีธนาคาร</label>
            <div class="form-group">
              <input class="form-control" placeholder="" formControlName="bank_account_no" type="text" required>
            </div>
          </fieldset>
        </form>
        <p class="text-center">
          <button class="btn btn-lg btn-outline-success" (click)="submitForm()">
            ตกลง
          </button>&nbsp;
          <button class="btn btn-lg btn-outline-danger" routerLink="/user/home">
            ยกเลิก
          </button>
        </p>
      </div>
    </div>
  </div>
</div>