<div class="container">
    <div class="col-md-10 offset-md-1">
        <div class="card col-md-9 offset-md-2">
            <div class="card-body">
                <div class="card-header">
                    <h2 class="text-center">ข้อมูลร้านค้า</h2><br>
                </div><br>
                <ul class="nav navbar-nav navbar-right">
                    <form [formGroup]="doproductForm" accept-charset="UTF-8" autocomplete="off">
                        <fieldset>
                            <div class="card-header">
                                <div class="col-4 mx-auto text-center">
                                    <div class="card" style="width: 18rem;">
                                        <img [src]="API_URL_IMG + shopImg" class="card-img-top" alt="...">
                                    </div>
                                </div><br>

                                <div class="form-row">
                                    <!-- <div class="form-group col-md-5">
                                    <label for="inputEmail4">ชื่อร้าน</label>
                                    <select class="custom-select" (change)="changShopSelected($event.target.value)">
                                        <option selected>Open this select menu</option>
                                        <option *ngFor="let shop of shopList" [value]="shop.shop_id">{{shop.shop_name}}
                                        </option>
                                    </select>
                                </div> -->
                                    <div class="form-group col-md-5">
                                        <label for="inputEmail4">ชื่อร้าน</label>
                                        <input class="form-control" placeholder="" formControlName="shop_name"
                                            type="text" required />
                                    </div>
                                    <div class="form-group col-md-5">
                                        <label for="shop_address">ที่อยู่ร้าน</label>
                                        <input class="form-control" placeholder="" formControlName="shop_address"
                                            type="text" min="0" required />
                                        <!-- <label class="form-control" placeholder="" formControlName="shop_address" type="text"
                                    required></label> -->
                                    </div>
                                    <div class="form-group col-md-2">
                                        <label for="shop_tel">เบอร์โทร</label>
                                        <input class="form-control" placeholder="" formControlName="shop_tel"
                                            type="text" min="0" required />
                                        <!-- <label class="form-control" placeholder="" formControlName="shop_tel" type="number"
                                    min="0" required></label> -->
                                    </div>
                                </div>

                                <div class="form-row">
                                    <div class="form-group col-md-4">
                                        <label for="bank_name">ชื่อธนาคาร</label>
                                        <input class="form-control" placeholder="" formControlName="bank_name"
                                            type="text" min="0" required />
                                        <!-- <label class="form-control" placeholder="" formControlName="bank_name" type="number" min="0"
                                required></label> -->
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group  col-md-4">
                                        <label for="bank_account_no">บัญชีธนาคาร</label>
                                        <input class="form-control" placeholder="" formControlName="bank_account_no"
                                            type="text" min="0" required />
                                        <!-- <label class="form-control" placeholder="" formControlName="bank_account_no"
                                    type="number" min="0" required></label> -->
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col text-center">
                                        <!-- <button class="btn btn-lg btn-outline-success" (click)="submitForm()">
                                        ตกลง
                                    </button> &nbsp; -->
                                        <button class="btn btn-lg btn-outline-info" routerLink="/user/shopme">
                                            ย้อนกลับ
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </ul>
            </div>
        </div>
    </div>
</div>



<!-- <div class="container">
    <div class="card ">
        <div class="card-body">
            <ul class="nav navbar-nav navbar-right">
                <form [formGroup]="doshopForm" accept-charset="UTF-8" autocomplete="off">
                    <fieldset>
                        <div class="col-4 mx-auto text-center">
                            <div class="card" style="width: 18rem;">
                                <img [src]="API_URL_IMG + shop_img" class="card-img-top" alt="...">
                            </div>
                        </div><br>

                        <div class="form-group col-md-5">
                            <label for="">ชื่อร้าน</label>
                            <input class="form-control" placeholder="" formControlName="shop_name" type="text"
                                disabled="disabled" required />
                        </div>
                        <div class="form-group col-md-2">
                            <label for="">ที่อยู่ร้าน</label>
                            <input class="form-control" placeholder="" formControlName="shop_address	" type="text"
                            disabled="disabled"  required>
                        </div>

                        <div class="form-group">
                            <label for="shop_tel">เบอร์โทร</label>
                            <textarea class="form-control" formControlName="shop_tel" rows="3"
                                disabled="disabled"></textarea>
                        </div>

                        <div class="form-group">
                            <label for="bank_name	">ชื่อธนาคาร</label>
                            <textarea class="form-control" formControlName="bank_name" rows="3"
                                disabled="disabled"></textarea>
                        </div>

                        <div class="form-group">
                            <label for="bank_account_no">บัญชีธนาคาร</label>
                            <textarea class="form-control" formControlName="bank_account_no" rows="3"
                                disabled="disabled"></textarea>
                        </div>
                        <div class="row">
                            <div class="col text-center">
                                 <button class="btn btn-lg btn-outline-success"routerLink="/user/home" >
                                    ตกลง
                                </button> &nbsp; 
                                <button class="btn btn-lg btn-outline-danger" routerLink="/user/shopme">
                                    ยกเลิก
                                </button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </ul>
        </div>
    </div>
</div>   -->