<div class="container">
    <div class="row">
      <div *ngFor="let data of productList" class="col-xl-3">
        <div class="card" style="width: 15rem; ">
          <img src="{{API_URL_IMG + data.pd_img}}" class="card-img-top" alt="..." >
          <div class="card-body">
            <div class="card-body">
              <p class="card-text">ชื่อสินค้า : {{data.pd_name}}</p>
              <p class="card-text">ราคา : {{data.pd_price}} บาท</p>
              <p class="card-text">จำนวนสินค้า : {{data.pd_number}} ชิ้น</p>
              <ul>
                <button type="button" class="btn btn-outline-info btn-block "
                  [routerLink]="['/home/doproduct', data.pd_id]" routerLinkActive="router-link-active"> ดูสินค้า</button>
              </ul>
            </div>
          </div>
        </div><br>
      </div>
    </div>
  </div>