


<div class="container">
    <div class="row">
        <div class="col-xl-4">
            <div class="card" style="width: 18rem;">
                <img src="\assets\image\m.jpg" class="card-img-top">
                <div class="card-body">
                    <p class="card-text">ส้ม สดใหม่</p>
                    <a href="/src/app/admin/admin-product/admin-product.component.html" class="btn btn-primary">ดูสินค้า</a>
                    
                </div>
            </div>
        </div>
        <div class="col-xl-4">
            <div class="card" style="width: 18rem;">
                <img src="\assets\image\m.jpg" class="card-img-top">
                <div class="card-body">
                    <p class="card-text">ส้ม สดใหม่</p>
                    <a href="/src/app/admin/admin-product/admin-product.component.html" class="btn btn-primary">ดูสินค้า</a>

                </div>
            </div>
        </div>
        <div class="col-xl-4">
            <div class="card" style="width: 18rem;">
                <img src="\assets\image\m.jpg" class="card-img-top">
                <div class="card-body">
                    <p class="card-text">ส้ม สดใหม่</p>
                    <a href="/src/app/admin/admin-product/admin-product.component.html" class="btn btn-primary">ดูสินค้า</a>