<div class="container">
    <div class="row">
        <div class="col-xl-4">
            <div class="card" style="width: 18rem;">
                <img src="\assets\image\m.jpg" class="card-img-top">
                <div class="card-body">
                    <p class="card-text">ส้ม สดใหม่</p>
                    <button routerLink="/admin/doproduct" type="button" class="btn btn-info">ดูสินค้า</button>
                </div>
            </div>
        </div>
        <div class="col-xl-4">
            <div class="card" style="width: 18rem;">
                <img src="\assets\image\m.jpg" class="card-img-top">
                <div class="card-body">
                    <p class="card-text">ส้ม สดใหม่</p>
                    <button routerLink="/admin/doproduct" type="button" class="btn btn-info">ดูสินค้า</button>
                </div>
            </div>
        </div>
    </div>
</div>